<div class="text-center mb-3">
    <h2>Photos</h2>
</div>

<div class="row row-cols-md-3 g-4">
    <div class="col-sm-6" *ngFor="let photo of photos">
        <div class="card-group">
            <div class="card">
                <div class="card-header">
                    id - {{photo.id}}
                  </div>
                  <img src={{photo.thumbnailUrl}} class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title">{{photo.title}}</h5>
                    <p class="card-text">{{photo.url}}</p>
                    <p class="card-text">{{photo.thumbnailUrl}}</p>
                </div>
                <div class="card-footer text-muted">
                    albumId - {{photo.albumId}}
                  </div>
            </div>
        </div>       
    </div>
</div>