<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>addon description</th>
            <th>count</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of products">
            <td>{{prod.id}}</td>
            <td>{{prod.title}}</td>
            <td>{{prod.description}}</td>
            <td>{{prod.addonDescription}}</td>
            <td>{{prod.count}}</td>
            <td><button (click)="removeProduct(prod.id)" class="btn btn-danger">Delete</button></td>
            <td><button (click)="productDetails(prod.id)" class="btn btn-success">Details</button></td>
        </tr>
    </tbody>
</table>