<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">userId</th>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">body</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">       
            <th scope="row">{{post.id}}</th>
            <td>{{post.userId}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
            <td><a class="btn btn-success" [routerLink]="['/posts', post.id]">go to post</a></td>
            <td><a class="btn btn-success" [routerLink]="['/posts', post.id, 'comments']">go with comments</a></td>
        </tr>    
    </tbody>
  </table>