<div class="text-center mb-3">
    <h2>Comments</h2>
</div>

<div class="row row-cols-md-3 g-4">
    <div class="col-sm-6" *ngFor="let comment of comments">
        <div class="card-group">
            <div class="card">
                <div class="card-header">
                    id - {{comment.id}}
                  </div>
                <div class="card-body">
                    <h5 class="card-title">{{comment.name}}</h5>
                    <p class="card-text">{{comment.body}}</p>
                    <p class="card-text">{{comment.email}}</p>
                </div>
                <div class="card-footer text-muted">
                    postId - {{comment.postId}}
                  </div>
            </div>
        </div>       
    </div>
</div>